/* The sidenav */
.sidenav {
  height: 50%;
  width: 200px;
  position: fixed; 
  z-index: 1; /* stay on top */
  top: 0; /* Stay at the top */
  left: 0; /*stay to the left */
  background-color: #A2D9CE;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* distance from top button from the top */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;  /* spacing of the buttons of sidenav not sure about the first 3 */ 
  text-decoration: none;
  font-size: 18px;
  color: #A04000;
  display: block;
  transition: 0.3s;
}



/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #28B463;
}


/* Page content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  padding: 0px 200px; /* changes where the content starts?  */ 
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
